* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --clr: #222327;
}

body {
    padding: 0;
    margin: 0;
    background: #222327;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bottom {
    width: 440px;
    height: 70px;
    background: white;
    position: absolute;
    /* left: 0%; */
    bottom: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    /* border-top-right-radius: 10px; */

}

.nav-bottom-icon {
    width: 500px;
    position: relative;
    display: flex;
    justify-content: center;

    align-items: center;
}

.material-symbols-outlined {
    font-size: 30px !important;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.nav-bottom-icon ul {
    display: flex;
    width: 400px;

}

.nav-bottom-icon ul li {
    position: relative;
    list-style: none;
    width: 70%;
    height: 70px;
}

.nav-bottom-icon ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}

.nav-bottom-icon ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
    z-index: 1;

}

.nav-bottom-icon ul li.active a .icon {
    transform: translateY(-34px);

}

.nav-bottom-icon ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: normal;
    font-style: 75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);

}

.nav-bottom-icon ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);

}

.inde-home {
    position: absolute;
    top: 0%;
    left: 1%;
    width: 100%;
    height: 70px;
    border-radius: 50%;
    transition: 0.5s;
}

.indicator {
    position: absolute;
    top: -45%;
    left: 25px;
    width: 70px;
    height: 70px;
    background: cornflowerblue;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator_radius_left {
    /* content: ' '; */
    width: 20px;
    height: 25px;
    /* background: rgb(198, 33, 33); */
    position: absolute;
    border-top-right-radius: 100%;
    box-shadow: 0px -11px 0px 0px var(--clr);
    top: 25.5px;
    left: -22.4px;
}

.indicator_radius_right {
    /* content: ' '; */
    width: 20px;
    height: 25px;
    /* background: rgb(198, 33, 33); */
    position: absolute;
    border-top-left-radius: 100%;
    box-shadow: 0px -11px 0px 0px var(--clr);
    top: 25.5px;
    left: 60.4px;
}


.nav-bottom-icon ul li:nth-child(1).active~.indicator {
    left: 25px;
}

.nav-bottom-icon ul li:nth-child(2).active~.indicator {
    left: 105px;
}

.nav-bottom-icon ul li:nth-child(3).active~.indicator {
    left: 185px;
}

.nav-bottom-icon ul li:nth-child(4).active~.indicator {
    left: 265px;
}

.nav-bottom-icon ul li:nth-child(5).active~.indicator {
    left: 345px;
}